<!Doctype html>
<html>
<head>
	<title>Dictionary</title>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	@Styles.Render("~/Content/css")
</head>

<body>
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Sözlük", "Index", "Home", null, new { @class = "navbar-brand" }) 
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					@*<a href="/Home/About>Hakkımızda</a>*@
					<li class="active">
						@Html.ActionLink("Hakkımızda", "About", "Home")
					</li>
					@*<a href="/Home/Contact>İletişim</a>*@
					<li>
						@Html.ActionLink("İletişim", "Contact", "Home")
					</li>
					@if (User.Identity.IsAuthenticated)
					{
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Bana Özel<span class="caret"></span></a> 
						<ul class="dropdown-menu" role="menu">
							<li>
								@Html.ActionLink("Hesabım", "MyAccount", "Members")
							</li>
							<li>
								@Html.ActionLink("Şifremi Değiştir", "ChangePass", "Members")
							</li>
							<li>
								@Html.ActionLink("Kelime İstekleri", "Index", "WordRequest")
							</li>
						</ul>
					</li>
					}
				</ul>

				<ul class="nav navbar-nav navbar-right">
					@if (User.Identity.IsAuthenticated)
					{
						<li>
							<p class="navbar-text">Merhaba @User.Identity.Name</p>
						</li>
						<li>
							@*<a href="/Members/LogOff">Çıkış Yap</a>*@
							@Html.ActionLink("Çıkış Yap", "LogOff", "Members")
						</li>
					}
					else
					{
					<li>
						<p class="navbar-text">Already have an account?</p>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										Login via
										<div class="social-buttons">
											<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
											<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
										</div>
										or
										@Html.Action("_LoginModal", "Members")
									</div>
									<div class="bottom text-center">
										New here ? 
										@*<a href="#"><b>Join Us</b></a>*@
										@Html.ActionLink("Kayıt Ol", "Register", "Members", null, new { @class = "bold" })
									</div>
								</div>
							</li>
						</ul>
					</li>
					}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	@RenderBody()

</body>
</html>