@using Entity
@model WordRequest


<div class="container">
	@using (Html.BeginForm())
	{
		if (!ViewData.ModelState.IsValid)
		{
			<div class="alert alert-danger">
				@Html.ValidationSummary() 
			</div>
		}

		<div class="form-group col-md-6">
			@Html.LabelFor(x => x.Word, new { @class = "control-label" })
			@Html.TextBoxFor(x => x.Word, new { @class = "form-control" }) 
			@Html.ValidationMessageFor(x => x.Word)
		</div>
		<div class="form-group col-md-6">
			@Html.LabelFor(x => x.Language, new { @class = "control-label" })
			@Html.DropDownListFor(x => x.LanguageId, (IEnumerable<SelectListItem>)ViewBag.Langs, new { @class = "form-control" })
			@Html.ValidationMessageFor(x => x.Language)
		</div>
		<div class="text-right">
			<div class="col-md-12">
				<button class="btn btn-success">Kaydet</button>
				@Html.ActionLink("İptal", "Index", null, new { @class = "btn btn-warning" })
			</div>
		</div>
	}
</div>